BeautifulSoup==3.2.1
Django==1.4
Pillow==1.7.8
South==0.7.3
Unidecode==0.04.9
argparse==1.2.1
distribute==0.6.24
django-extensions==1.0.1
django-localeurl==1.5
django-rosetta==0.6.8
django-tagging==0.3.1
django-tinymce==1.5.1b2
feedparser==5.1.2
lxml==2.3.5
psycopg2==2.4.5
simplejson==2.6.1
wsgiref==0.1.2

-e git+git://gitorious.org/~atiberghien/chimere/improvement.git@976119695728c98b4ec7161e2e4b305b53140493#egg=chimere
